extends ../layouts/layout

block content
    .container.pt-5
        .row.justify-content-between
            .col
                h2.title.mb-3 #{publisher.title}
            .col-md-2
                form(method='post' action='/publishers/delete')
                    input(type='hidden' value=publisher.id name='id')
                    .d-flex.justify-content-end
                        button.btn.btn-outline-danger(type='submit') Удалить
        .mb-3
            p #{publisher.description}

